/.2023-02-06-EsquemaArticulo-NoCollab.autosave.xopp
/2023-02-06-EsquemaArticulo-NoCollab.xopp
/230129.ExperimentosTM.xopp
/230201.ArticuloTM.Intuiciones.xopp
/230201.RecursionTM.xopp
/230201.TM-ObjetosDistribuido.Ander.xopp
/230202.TMColaborativo.xopp
/CuadernoDeVitacoras.xopp
/.idea
*.xopp
*.iml
*.xml
